/* CNSS global CSS */

*
{
	font-family: verdana, Arial, Helvetica, sans-serif;	
}

body
{	
	background-image:url('#{resource['images:background.jpg']}');
	background-position: right;
	margin: 0 auto;
	width:800px;
	height:600px;
	font-family: verdana, Arial, Helvetica, sans-serif;
}

#header
{	
	border:none;	
	background-image:url('#{resource['images:top.png']}');
	background-repeat:no-repeat;
	height:135px;
	border-radius: 6px;
}
#header h1
{
	color: #4E671D;
	font-size:30px;
	font-weight:normal;
	margin:0px;
}
#header h2
{
	color: #4E671D;
	font-size:20px;
	font-weight:normal;
	padding-top:10px;
	margin:0px;
}

#header #menu
{
/*  	background-color: #4E671D; */
	width:800px;
/* 	float:right; */
	height:25px;
/* 	margin-right: 156px; */
	margin: 0px auto 0px auto;
/* 	width: 62%; */
}

#menubar
{	
	height:25px;
}

#menu ul
{
	height:25px;
 	margin:0;
 	padding:0;
 	list-style-type:none;
 	text-align:center;
}
 
#menu li {
	height:25px;
 	float:right;
 	margin:auto;
 	padding:0;
/*  	background-color:#4E671D; */
}

#menu li a
{
 	display:block;
 	text-decoration:none;
 	padding:4px;
 	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	font-size: 15px;
	font-weight:normal;
/* 	color:white; */
/* 	border: 1px solid #327e04; */
/* 	background: #459e00 url("/AsmaProjet/javax.faces.resource/images/ui-bg_highlight-hard_15_459e00_1x100.png.xhtml?ln=primefaces-south-street") 50% 50% repeat-x; */
	border: 1px solid #2c4359;
	background: #35414f url("/Cnam/javax.faces.resource/images/ui-bg_dots-small_35_35414f_2x2.png.xhtml?ln=primefaces-hot-sneaks") 50% 50% repeat;
	color: #e1e463;
	border-radius: 6px;
	position: relative;
	z-index: 10;
 }
 
#menu li a:hover
{
/*  border: 1px solid #327e04; */
/* 	background: #67b021 url("/AsmaProjet/javax.faces.resource/images/ui-bg_highlight-soft_25_67b021_1x100.png.xhtml?ln=primefaces-south-street") 50% 50% repeat-x; */
	border: 1px solid #999999;
	background: #ccd232 url("/Cnam/javax.faces.resource/images/ui-bg_diagonals-small_75_ccd232_40x40.png.xhtml?ln=primefaces-hot-sneaks") 50% 50% repeat;
	color: #212121;
}

#menu ul li ul
{
 	display:none;
}

#menu ul li:hover ul
{
 	display:block;
}

#menu li:hover ul li
{
 	float:none;
}

#menu li ul
{
 	position:absolute;
}

#header #status
{
	margin-top:10px;
	width:800px;
	float:right;
	height:25px;
}

.status_label
{
	margin-right: 5px;
}

.status_value
{
	color: #4E671D;
	margin-left: 5px;
	margin-top: 20px;
	margin-right: 5px;
}

#content
{
	border:none;	
	height:600px;
}

#footer
{
	border:none;	
	background-image:url('#{resource['images:bottom.gif']}');
	height: 18px;
	border-radius: 6px;
}

#bg_img_div_access_denied
{
	background-image:url('#{resource['images:denied.gif']}');
	height:450px;
	width:450px;
	float:left;
}

#bg_img_div_under_construction
{
	background-image:url('#{resource['images:under_construction.jpg']}');
	height:600px;
	width:798px;
}



/* Overriding some basic HTML components' CSS */

td
{	align-content:right;

}

th
{
	font-size:11px;
	font-weight:bold;
}

/* button[disabled], input[type="reset"][disabled], input[type="button"][disabled], input[type="submit"][disabled] */
/* { */
/* 	font-size:11px; */
/* 	font-weight:normal; */
/* } */

/* button[disabled]:hover, input[type="reset"][disabled]:hover, input[type="button"][disabled]:hover, input[type="submit"][disabled]:hover */
/* { */
/* 	font-size:11px; */
/* 	font-weight:normal; */
/* } */

/* button, input[type="reset"], input[type="button"], input[type="submit"] */
/* { */
/* 	font-size:11px; */
/* 	font-weight:normal; */
/* } */

/* button:hover, input[type="reset"]:hover, input[type="button"]:hover, input[type="submit"]:hover */
/* { */
/* 	font-size:11px; */
/* 	font-weight:normal; */
/* } */

/* input[type="text"], input[type="password"] */
/* { */
/* 	font-size:11px; */
/* 	font-weight:normal; */
/* } */

/* select */
/* { */
/* 	font-size:11px; */
/* 	font-weight:normal; */
/* } */


/* My Styles */

.title-text
{
	font-size:11px;
	font-weight:bold;
}

.emph-text
{
	font-size:11px;
	font-style:italic;
}

.data-text-center
{
	font-size:11px;
	font-weight:normal;
	text-align:center;
}

.data-text
{
	font-size:11px;
	font-weight:normal;
}

.link-text
{
	font-size:11px;
	font-weight:bold;
	color: #FF9409;
}



/* Overriding PrimeFaces CSS */

/* PrimeFaces Buttons */

.ui-button-text-only .ui-button-text {
	font-weight: normal;
}


/* Error/Warn/Info Messages */

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
	float: right;
}

.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail, .ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
	margin-right: 5px;
	margin-left: 0px;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
	margin-right: 5px;
	margin-left: 0px;
}

/* Right To Left DataTable Scroller */

.ui-icon-seek-next {
	background-position: -48px -160px;
}

.ui-icon-seek-prev {
	background-position: -32px -160px;
}

.ui-icon-seek-end {
	background-position: -80px -160px;
}

.ui-icon-seek-first {
	background-position: -64px -160px;
}



/* Right To Left PickList Arrows */

.ui-icon-arrow-1-e {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -32px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -240px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -208px -32px;
}

/* DataTable Layout */

.ui-datatable table {
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
}

/* Border in Panel Grid */
.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important;
}

/* Widget Header Police */
.ui-widget-header
{
	font-size: 15px !important;
}

.ui-selectonelistbox .ui-selectlistbox-listcontainer, .ui-selectmanymenu .ui-selectlistbox-listcontainer, .ui-multiselectlistbox-listcontainer
{
	height: 100% !important;
}
.TitleAuthen {
	color: #929292;
	font-size: 22px;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.status {
	background-image: url("/AdministrationReclamation/resources/default/images/white-bg-40.png");
	border-radius:10px;
	width:1000px;
	height:28px;
	background-position: center;
	background-repeat: repeat;
/*	opacity: 0.3; */
	margin: 0 auto;
	border-color: #cccccc;
	border-style: solid;
	direction: rtl;
}
.tableFullWidthFullHeight {
	width:100%;
	height: 100%;
}
.statusTitle {
	font-size:14pt;
	text-align: left;
	color:#2c4359;
}