<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/templates/Default.xhtml">
	<ui:define name="title">
		<p:outputLabel value="#{messages.EspaceAdminstartion}"/>	
		</ui:define>

	<ui:define name="content">
	<h:form>
		<center>
			<br /> <br />
			<table>
				<tr>
					<td><p:outputLabel value="#{messages.AcessDenied}"></p:outputLabel></td>
				</tr>
				<tr>
					<td><p:graphicImage value="/resources/images/accesRefuse.png" /></td>
				</tr>
				<tr>
					<td><p:commandButton
							value="#{messages.espaceAuthentification}"
							actionListener="#{authentificationBean.doLogout()}" /></td>

				</tr>

				<tr>
					<td>
					
					
					
				</tr>
				
				

			</table>

		</center>
</h:form>

	</ui:define>
</ui:composition>
</html>
