<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:head>
	<link href="style/cnss.css" rel="stylesheet" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<f:metadata>
		<f:event type="preRenderView" listener="#{accueilBean.onload()}" />
	</f:metadata>
</h:head>
<ui:composition template="templates/Default.xhtml">

	<ui:define name="header">


		<table border="0" align="center"
			style="width: 800px; padding-top: 30px; padding-bottom: 10px; padding-right: 300px;">
			<tr>
				<td>
					<h1>
						<ui:insert name="title">
								#{messages.EspaceAdminstartion}
								</ui:insert>
					</h1>
				</td>
				<td>
					<h2>
						<ui:insert name="subtitle">

						</ui:insert>
					</h2>
				</td>
			</tr>
		</table>

		<div id="menu" align="center"></div>

		<div id="status" align="center"></div>

	</ui:define>
	<ui:define name="content">

		<br />
		<br />


		<h:form>

			<center>
				<p:panel id="panel" styleClass="TitleAuthen">
					<p:outputLabel value="#{messages.BienvenueMonsieur}" styleClass="TitleAuthen"></p:outputLabel>
					<p:outputLabel value="#{accueilBean.getCurrentNameOfuser()}" styleClass="TitleAuthen"></p:outputLabel>
				</p:panel>
				
			</center>
			<p:commandButton value="#{messages.sortie}" actionListener="#{authentificationBean.doLogout()}" />
			
			
			<p:growl id="msg" showDetail="true"></p:growl>
			<center>
				<table border="0">
					<tr>
						<td>
							<p:graphicImage url="./resources/images/GererCompte.png" height="96px" width="96px" styleClass="iconenav"/>
							<br /> 
							<h:link
								value="#{messages.gestionDeCompte}" class="TitleAuthen"
								outcome="GestionClient">
							</h:link>
						</td>
						<td> 
						    <p:graphicImage
								url="./resources/images/GereReclamation.png" height="96px"
								width="96px" styleClass="iconenav"/>
								<br />
								<h:link
								value="#{messages.gestionReclamation}" styleClass="TitleAuthen"
								outcome="TraitementReclamation">
								</h:link> 
								
						</td>
					</tr>

					<tr>
						<td><p:graphicImage
								url="./resources/images/addreclamation.png" height="96px" styleClass="iconenav"
								width="96px" /> <br /> 
								<h:link
								value="#{messages.ajouterTypeReclamation}"
								outcome="AjouterTypeReclamation" styleClass="TitleAuthen">
								</h:link>
						</td>
						<td><p:graphicImage url="./resources/images/iconSecurity.png" styleClass="iconenav"
								height="96px" width="96px" /> <br /> 
								<h:link
								value="#{messages.miseAjourCompteAssuree}"
								outcome="MiseAjourMotPasseClient" styleClass="TitleAuthen">
								</h:link>
						</td>
					</tr>
				</table>
			</center>
			</h:form>
	</ui:define>
	<ui:define name="menu">
		<h:form id="menubar" dir="rtl">
			<ul>

				<li><h:commandLink
						value="#{messages.ismenuChangementMotDePasse}" /></li>

				<li><h:commandLink value="#{messages.logout}" /></li>
			</ul>
		</h:form>
	</ui:define>


</ui:composition>



</html>
