<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

<link href="style/cnss.css" rel="stylesheet" type="text/css" />

<f:metadata>
    
    <f:event type="preRenderView" listener="#{accueilBean.onload()}" />
</f:metadata>
</h:head>
<ui:composition template="templates/Default.xhtml">

	<ui:define name="header">
		<table border="0" align="center"
			style="width: 800px; padding-top: 30px; padding-bottom: 10px; padding-right: 300px;">
			<tr>
				<td>
					<h1>
						<ui:insert name="title">
							#{messages.ajouterTypeReclamation}
								</ui:insert>
					</h1>
				</td>
				<td>
					<h2>
						<ui:insert name="subtitle">

						</ui:insert>
					</h2>
				</td>
			</tr>
		</table>

		<div id="menu" align="center"></div>

		<div id="status" align="center"></div>

	</ui:define>
	<ui:define name="content">
	<h:form>
		<p:menubar>
		<p:menuitem value="#{messages.accueil}"
				outcome="Accueil" />
								
			<p:menuitem value="#{messages.gestionDeCompte}"
				outcome="GestionClient" />
			<p:submenu label="#{messages.reclamation}">
				<p:menuitem value="#{messages.gestionReclamation}"
					outcome="TraitementReclamation" />
				<p:menuitem value="#{messages.ajouterTypeReclamation}"
					outcome="AjouterTypeReclamation" />
			</p:submenu>

			<p:menuitem value="#{messages.miseAjourCompteAssuree}"
				outcome="MiseAjourMotPasseClient" />

			<f:facet name="options">
				<p:commandLink 
							actionListener="#{authentificationBean.logout()}" 
							ajax="false" value="#{messages.sortie}" />
			</f:facet>
		</p:menubar>

</h:form>
       <br/>
		<p:growl id="msg" showDetail="true"></p:growl>
		<h:form id="formAddTypeReclamation">

			

			<p:panel id="panel" header="#{messages.enter_type_reclamation}">

				<h:panelGrid columns="3" cellpadding="5">
					<p:outputLabel for="typeReclamation" value="#{messages.Type_Reclamation_label}" />
					
					<p:inputText id="typeReclamation"
						value="#{reclamationTypeBean.typeReclamation}" required="true"
						label="Type Réclamation">
						<f:validateLength minimum="3" />
					</p:inputText>
					
					<p:message for="typeReclamation"  />

				</h:panelGrid>

				<p:commandButton value="#{messages.ajouter_type_reclamtion}"
					update="formAddTypeReclamation"
					actionListener="#{reclamationTypeBean.AjouterTypeReclamation()}" />
			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>

</html>
