<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
>
	<head>

<link href="style/cnss.css" rel="stylesheet" type="text/css" />
</head>
	<ui:composition template="templates/Default.xhtml">	

		<ui:define name="header">
				<table
					border="0"
					align="center"
					style="
					    width: 800px;
					    padding-top: 30px;
					    padding-bottom: 10px;
					    padding-right: 300px;"
			    >
					<tr>
						<td>
							<h1>
								<ui:insert name="title">
							#{messages.espaceAuthentification}
								</ui:insert>
							</h1>
						</td>
						<td>
							<h2>
								<ui:insert name="subtitle">
									
								</ui:insert>
							</h2>
						</td>
					</tr>
				</table>
				<div id = "status" align = "center" >
				</div>
			
			</ui:define>
		<ui:define name = "content">
	
	<br/>
	<br/>
	<br/>
	
        <h:form>
       
      <p:messages id="messages" showDetail="false" globalOnly="true" />

        <p:panel id="panel" styleClass="TitleAuthen" header="#{messages.LoginPasswordInfo}">

            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="login"  value="#{messages.nomUtilisateur}"  styleClass="TitleAuthen"></p:outputLabel>
                <p:inputText id="login" value="#{authentificationBean.admin.login}"
                    required="true" label="login">
                    <f:validateLength minimum="3" />
                </p:inputText>
                <p:message for="login"  />

                <p:outputLabel for="motDePasse" value="#{messages.motpasse}"  styleClass="TitleAuthen"></p:outputLabel>
                <p:password id="motDePasse"
                    value="#{authentificationBean.admin.password}" required="true"
                    label="mot De Passe">
                    <f:validateLength minimum="3" />
                </p:password>
                <p:message for="motDePasse"  />
            </h:panelGrid>

          <p:commandButton value="#{messages.Entrer}" update="panel messages" 
             actionListener="#{authentificationBean.dologin()}">
          </p:commandButton>
          
        </p:panel>
        
	</h:form>
	
		</ui:define>
		
	</ui:composition>

</html>
