<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

	<link href="style/cnss.css" rel="stylesheet" type="text/css" />
	<f:metadata>
		<f:event type="preRenderView" listener="#{accueilBean.onload()}" />
	</f:metadata>
</h:head>


<ui:composition template="templates/Default.xhtml">

	<ui:define name="header">
		<table border="0" align="center"
			style="width: 800px; padding-top: 30px; padding-bottom: 10px; padding-right: 300px;">
			<tr>
				<td>
					<h1>
						<ui:insert name="title">
							#{messages.gestionDeCompte}	
						</ui:insert>
					</h1>
				</td>
				<td>
					<h2>
						<ui:insert name="subtitle">

						</ui:insert>
					</h2>
				</td>
			</tr>
		</table>

		<div id="menu" align="center"></div>

		<div id="status" align="center"></div>

	</ui:define>
	<ui:define name="content">
		<p:menubar>
		
		
				<p:menuitem value="#{messages.accueil}"
				outcome="Accueil" />
			<p:menuitem value="#{messages.gestionDeCompte}"
				outcome="GestionClient" />
				

			<p:submenu label="#{messages.reclamation}">
				<p:menuitem value="#{messages.gestionReclamation}"
					outcome="TraitementReclamation" />
				<p:menuitem value="#{messages.ajouterTypeReclamation}"
					outcome="AjouterTypeReclamation" />
			</p:submenu>

			<p:menuitem value="#{messages.miseAjourCompteAssuree}"
				outcome="MiseAjourMotPasseClient" />

			<f:facet name="options">
				<p:commandButton value="#{messages.logout_compte}"
					actionListener="#{authentificationBean.doLogout()}" />

			</f:facet>
		</p:menubar>

		<center>

			<h3 class="TitleAuthen">#{messages.ListeDeCompteAssure}</h3>
		</center>
		<p:growl id="msg" showDetail="true"></p:growl>
		<h:form id="formclt">

			<p:dataTable id="clientDT" value="#{clientBean.listClient}"
				var="client" editable="true" paginator="true" rows="4" dir="rtl"
				style="width: 100%" widgetVar="clientTable"
				filteredValue="#{clientBean.filteredClient}">

				<f:facet name="header">
					<p:outputPanel>	
						<p:inputText style="width:300px" 
							placeholder="#{messages.recherhce_avec_matriucle_cnss}" id="globalFilter"
							onkeyup="PF('clientTable').filter()"  />
					</p:outputPanel>
				</f:facet>
				<p:column headerText="#{messages.modifier}" style="width:25px">
					<p:commandButton icon="ui-icon ui-icon-newwin"
						actionListener="#{clientBean.remplirFormClient(client)}"
						update=":CForm1" oncomplete="PF('UpdateClientDialog').show()" />
				</p:column>

				<p:column headerText="#{messages.etat_compte}" style="width:25px">
					<p:commandButton icon="ui-icon ui-icon-newwin"
						actionListener="#{clientBean.remplirFormClient(client)}"
						update=":CForm1" oncomplete="PF('etatClientDialog').show()" />
				</p:column>

				<p:column headerText="#{messages.matricule_cnss_client}"
					filterBy="#{client.matricule}" style="width:78px" >
					<h:outputText value="#{client.matricule}" />
				</p:column>

				<p:column headerText="#{messages.numcin}"
					filterBy="#{client.numcin}" style="width:73px">
					<h:outputText value="#{client.numcin}" />
				</p:column>

				<p:column headerText="#{messages.cle}" style="width:14px">
					<h:outputText value="#{client.cle}" />
				</p:column>

				<p:column headerText="#{messages.nomprenom}" style="width:57px">
					<h:outputText value="#{client.nomprenom}" />
				</p:column>
				<p:column headerText="#{messages.motpasse}" style="width:57px">
					<h:outputText value="#{client.password}" />
				</p:column>


				<p:column headerText="#{messages.email}" style="width:230px">
					<h:outputText value="#{client.email}" />
				</p:column>
				<p:column headerText="#{messages.etatcompte}" style="width:60px" >
					<h:outputText value="#{client.etatCompte}" />
				</p:column>


				<p:column headerText="#{messages.NumTel}" style="width:75px">

					<h:outputText value="#{client.numtel}" />

				</p:column>

			</p:dataTable>
			<br />
			<br />
			<p:commandButton icon="ui-icon ui-icon-newwin" update=":CForm"
				oncomplete="PF('newClientDialog').show()"
				value="#{messages.ajouterCompte}" />
				
				
		</h:form>


		<!--  ajouter nb client dialog -->
		<p:dialog header="#{messages.ajouter_nouveau_client_dialog}"
			widgetVar="newClientDialog" resizable="false" showEffect="fade"
			hideEffect="explode" modal="true" dir="rtl" closable="false"
			height="100%">

			<h:form id="CForm">
				<p:panelGrid id="newClientPanelGrid" dir="rtl">

					<p:row>
						<p:column>
							<p:outputLabel for="cmatricule"
								value="#{messages.matricule_cnss_client}" />
						</p:column>
						<p:column>
							<p:inputText id="cmatricule" value="#{clientBean.cn.matriculeChaine}"
								size="16" maxlength="16" required="true" disabled="false"
								label="#{messages.matricule_cnss_client}">
								<f:convertNumber  />
								<f:validateLength minimum="3" />
							</p:inputText>
						</p:column>
						<p:column>
							<p:message for="cmatricule"  />
						</p:column>
					</p:row>


					<p:row>
						<p:column>
							<h:outputText value="#{messages.cle}" />
						</p:column>
						<p:column>
							<p:inputText id="cle" value="#{clientBean.cn.cleChaine}" size="16"
								maxlength="16" required="true" disabled="false"
								label="#{messages.cle}">
								<f:convertNumber  />
								<f:validateLength minimum="3" />
								<!--<f:validateLength minimum="3" />-->
							</p:inputText>
						</p:column>
						<p:column>
							<p:message for="cle"  />
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="#{messages.nomprenom}" />
						</p:column>
						<p:column>
							<p:inputText id="nomprenom" value="#{clientBean.cn.nomprenom}"
								size="16" maxlength="16" required="true" disabled="false"
								label="#{messages.nomprenom}">
								<f:validateLength minimum="3" />
							</p:inputText>
						</p:column>
						<p:column>
							<p:message for="nomprenom" />

						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="#{messages.numcin}" />
						</p:column>
						<p:column>
							<p:inputText id="numcin" value="#{clientBean.cn.chainenumcin}" size="8"
								maxlength="8" required="true" disabled="false"
								label="#{messages.numcin}">
								<f:convertNumber  />
								<f:validateLength minimum="8"  />
							</p:inputText>
						</p:column>
						<p:column>
							<p:message for="numcin"  />
						</p:column>
					</p:row>


					<p:row>
						<p:column>
							<h:outputText value="#{messages.email}" />
						</p:column>
						<p:column>
							<p:inputText id="cEmail" value="#{clientBean.cn.email}" size="16"
								maxlength="30" required="true" disabled="false"
								label="#{messages.email}">
								<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							</p:inputText>
						</p:column>
						<p:column>
							<p:message for="cEmail"  />	
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="#{messages.situation}" />
						</p:column>
						<p:column>

							<p:outputLabel for="console" />
							<p:selectOneMenu value="#{clientBean.cn.etatCompte}"
							 id="console"
							disabled="false"
							required="true"
							>
								<f:selectItem itemLabel="#{messages.choisr_situation}" />
								<f:selectItem itemLabel="Activee" itemValue="Activee" />
								<f:selectItem itemLabel="Bloquee" itemValue="Bloquee" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:message for="console"/>	
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="#{messages.NumTel}" />
						</p:column>
						<p:column>
							<p:inputText id="numTel" value="#{clientBean.cn.numtel}" size="8"
								maxlength="8" required="true" disabled="false"
								label="#{messages.NumTel}">
								<f:convertNumber  />
								<f:validateLength minimum="8" />
							</p:inputText>
						</p:column>
						<p:column>
							<p:message for="numTel"  />
						</p:column>
					</p:row>


					<p:row>
						<p:column>
							<h:outputText value="#{messages.motpasse}" />
						</p:column>
						<p:column>
							<p:password id="password" value="#{clientBean.cn.password}"
								size="16" maxlength="16" required="true" disabled="false"
								label="#{messages.motpasse}">
								<f:validateLength minimum="3" />
							</p:password>
						</p:column>
						<p:column>
							<p:message for="password"  />
						</p:column>
					</p:row>



					<p:row>
						<p:column>
							<p:commandButton value="#{messages.valider}"
								update="CForm formclt"
								actionListener="#{clientBean.saveClient()}"
								oncomplete="if(!args.validationFailed) PF('newClientDialog').hide()" />
						</p:column>
						<p:column>
							<p:commandButton value="#{messages.annuler}" process="@this"
								update="newClientPanelGrid"
								oncomplete="PF('newClientDialog').hide()">
								<p:resetInput target=":CForm" />
							</p:commandButton>
						</p:column>

					</p:row>

				</p:panelGrid>
			</h:form>
		</p:dialog>

		<!-- fin  ajouter client dialog -->
		
		
		

		<!-- update   client dialog -->
		<p:dialog header="#{messages.modifier_client_dialog}"
			widgetVar="UpdateClientDialog" resizable="false" showEffect="fade"
			hideEffect="explode" modal="true" dir="rtl" closable="false"
			height="100%">

			<h:form id="CForm1">
				<p:panelGrid id="updateClientPanelGrid" dir="rtl">



					<p:row>
						<p:column>
							<h:outputText value="#{messages.nomprenom}" />
						</p:column>
						<p:column>
							<p:inputText   id="nomprenom" value="#{clientBean.cltupdate.nomprenom}" size="18"
								maxlength="18" required="true" disabled="false" >
								<f:validateLength minimum="3" />
								</p:inputText>
								
						</p:column>
						<p:column>
						
							  <p:message for="nomprenom"/>
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="#{messages.email}" />
						</p:column>
						<p:column>
							<p:inputText id="cEmail" value="#{clientBean.cltupdate.email}" size="30"
								maxlength="30" required="true" disabled="false" >
								<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
								<f:validateLength minimum="10" />
								</p:inputText>
						</p:column>
						<p:column>
							<p:message for="cEmail"/>	
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<h:outputText value="#{messages.NumTel}" />
						</p:column>
						<p:column>
							<p:inputText id="numTel" value="#{clientBean.cltupdate.numtel}" size="8"
								maxlength="8" required="true" disabled="false" >
									<f:convertNumber  />
								<f:validateLength minimum="8" />
								</p:inputText>
						</p:column>
						<p:column>
							<p:message for="numTel"/>	
						</p:column>
					</p:row>


					

					<p:row>
						<p:column>
							<p:commandButton value="#{messages.modifier}"
								update="CForm1 formclt"
								actionListener="#{clientBean.updateClient()}"
								 oncomplete="if(!args.validationFailed) PF('UpdateClientDialog').hide()">
							</p:commandButton>
						</p:column>
						
						<p:column>
							<p:commandButton value="#{messages.annuler}" process="@this"
								update="CForm1 formclt"  oncomplete="PF('UpdateClientDialog').hide()" >
								<p:resetInput target=":CForm1" />
							</p:commandButton>
						</p:column>

					</p:row>


				</p:panelGrid>
			</h:form>
		</p:dialog>


		<!-- bloquer /debloquer compte -->

		<p:dialog header="#{messages.modifier_etat_compte}"
			widgetVar="etatClientDialog" resizable="false" showEffect="fade"
			hideEffect="explode" modal="true" dir="rtl" closable="false"
			height="100%">

			<h:form id="CFormetat">
				<p:panelGrid id="etatClientGrid" dir="rtl">

					<p:row>
						<p:column>
							<h:outputText value="#{messages.situation}" />
						</p:column>
						<p:column>

							<p:outputLabel for="console" />
							<p:selectOneMenu value="#{clientBean.c.etatCompte}" id="console"
							disabled="false"
							required="true"
							>
								<f:selectItem itemLabel="#{messages.choisr_situation}" /> 
								<f:selectItem itemLabel="Activee" itemValue="Activee" />
								<f:selectItem itemLabel="Bloquee" itemValue="Bloquee" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:message for="console"/>
						</p:column>
					</p:row>


					<p:row>
						<p:column>
							<p:commandButton value="#{messages.modifier_client_dialog}"
								actionListener="#{clientBean.updateEtatClient()}"
								update="CFormetat formclt"
								oncomplete="if(!args.validationFailed) PF('etatClientDialog').hide()" />
						</p:column>
						
						<p:column>
							<p:commandButton value="#{messages.annuler}" process="@this"
								update="CFormetat formclt" oncomplete="PF('etatClientDialog').hide()">
								<p:resetInput target=":CFormetat" />
							</p:commandButton>
						</p:column>
						
					</p:row>

               

				</p:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>


</ui:composition>




</html>
