<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

<link href="style/cnss.css" rel="stylesheet" type="text/css" />
<f:metadata>
    
    <f:event type="preRenderView" listener="#{accueilBean.onload()}" />
</f:metadata>
</h:head>

<ui:composition template="templates/Default.xhtml">

	<ui:define name="header">
		<table border="0" align="center"
			style="width: 800px; padding-top: 30px; padding-bottom: 10px; padding-right: 300px;">
			<tr>
				<td>
					<h1>
						<ui:insert name="title">
							#{messages.miseAjourCompteAssuree}
								</ui:insert>
					</h1>
				</td>
				<td>
					<h2>
						<ui:insert name="subtitle">

						</ui:insert>
					</h2>
				</td>
			</tr>
		</table>



		<div id="status" align="center"></div>

	</ui:define>
	<ui:define name="content">
	<h:form>

		<p:menubar>
		
		<p:menuitem value="#{messages.accueil}"
				outcome="Accueil" />
			<p:menuitem value="#{messages.gestionDeCompte}"
				outcome="GestionClient" />

			<p:submenu label="#{messages.reclamation}">
				<p:menuitem value="#{messages.gestionReclamation}"
					outcome="TraitementReclamation" />
				<p:menuitem value="#{messages.ajouterTypeReclamation}"
					outcome="AjouterTypeReclamation" />
			</p:submenu>

			<p:menuitem value="#{messages.miseAjourCompteAssuree}"
				outcome="MiseAjourMotPasseClient" />

			<f:facet name="options">
				<p:commandLink 
							actionListener="#{authentificationBean.logout()}" 
							ajax="false" value="#{messages.sortie}" />
							
							
			</f:facet>
		</p:menubar>
<br/>
</h:form>
		<h:form>

			<p:messages id="messages" showDetail="false" />

			<p:panel id="panel" header="#{messages.remplir_formulaire}">

				<h:panelGrid columns="3" cellpadding="5">
					<p:outputLabel for="matriculeCnss"
						value="#{messages.matricule_cnss_client}"></p:outputLabel>
					<p:inputText id="matriculeCnss"
						value="#{clientBean.cMiseAjourMotPasse.matricule}" required="true"
						label="matriculeCnss">
						<f:convertNumber  />
						<f:validateLength minimum="3" />
					</p:inputText>
					<p:message for="matriculeCnss" display="icon" />


					<p:outputLabel for="ancienmotpasse"
						value="#{messages.AncienMotPasse}"></p:outputLabel>
					<p:password id="ancienmotpasse"
						value="#{clientBean.cMiseAjourMotPasse.password}" required="true"
						label="login">
						<f:validateLength minimum="3" />
					</p:password>
					<p:message for="ancienmotpasse" display="icon" />


					<p:outputLabel for="nvmotpasse" value="#{messages.motpasse}" />
					<p:password id="nvmotpasse"
						value="#{clientBean.nouveauMotPasse1}" required="true"
						label="mot De Passe">
						<f:validateLength minimum="3" />
					</p:password>
					<p:message for="nvmotpasse" display="icon" />


					<p:outputLabel for="nvmotpasse"
						value="#{messages.repeter_remplissage_motpasse}" />
					<p:password id="nvmotpasse2"
						value="#{clientBean.nouveauMotPasse2}" required="true"
						label="mot De Passe">
						<f:validateLength minimum="3" />
					</p:password>
					<p:message for="nvmotpasse2" display="icon" />
				</h:panelGrid>

				<p:commandButton value="#{messages.changerMotPasse}"
					update="panel messages"
					actionListener="#{clientBean.MiseAJourMotPasse()}" />
			</p:panel>


		</h:form>
	</ui:define>


</ui:composition>




</html>
