<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:head>

	<link href="style/cnss.css" rel="stylesheet" type="text/css" />
	<f:metadata>
		<f:event type="preRenderView" listener="#{accueilBean.onload()}" />
	</f:metadata>
</h:head>
<ui:composition template="templates/Default.xhtml">

	<ui:define name="header">
		<table border="0" align="center"
			style="width: 800px; padding-top: 30px; padding-bottom: 10px; padding-right: 300px;">
			<tr>
				<td>
					<h1>
						<ui:insert name="title">
							#{messages.gestionReclamation} 
								</ui:insert>
					</h1>
				</td>
				<td>
					<h2>
						<ui:insert name="subtitle">

						</ui:insert>
					</h2>
				</td>
			</tr>
		</table>

		<div id="menu" align="center"></div>

		<div id="status" align="center"></div>

	</ui:define>
	<ui:define name="content">
		<p:menubar>
			<p:menuitem value="#{messages.accueil}" outcome="Accueil" />

			<p:menuitem value="#{messages.gestionDeCompte}"
				outcome="GestionClient" />



			<p:submenu label="#{messages.reclamation}">
				<p:menuitem value="#{messages.gestionReclamation}"
					outcome="TraitementReclamation" />
				<p:menuitem value="#{messages.ajouterTypeReclamation}"
					outcome="AjouterTypeReclamation" />
			</p:submenu>

			<p:menuitem value="#{messages.miseAjourCompteAssuree}"
				outcome="MiseAjourMotPasseClient" />

			<f:facet name="options">
				<p:commandButton value="#{messages.logout_compte}"
					actionListener="#{authentificationBean.doLogout()}" />

			</f:facet>
		</p:menubar>
		<center>
			<h2 class="TitleAuthen">#{messages.listeDeReclamation}</h2>
		</center>
		<p:growl id="msg" showDetail="true"></p:growl>
		<h:form id="formReclamation">
			<p:dataTable id="clientDT" value="#{reclamationBean.listReclamation}"
				var="rec" editable="true" paginator="true" rows="5" dir="rtl"
				style="width: 100%" widgetVar="ReclamationTable">
				<f:facet name="header">
					<p:outputPanel>
						<p:inputText style="width:300px"
							placeholder="#{messages.recherche_avec_idReclamation}"
							id="globalFilter" onkeyup="PF('ReclamationTable').filter()" />
					</p:outputPanel>
				</f:facet>


				<p:column headerText="#{messages.reponse_reclamation}" width="6%">
					<p:commandButton icon="ui-icon ui-icon-newwin"
						actionListener="#{reclamationBean.putReclamationReponse(rec)}"
						update=":CForm" oncomplete="PF('newReponseDialog').show()" />
				</p:column>

				<p:column headerText="#{messages.idReclamation}"
					filterBy="#{rec.idreclamation}" style="width:59px">
					<h:outputText value="#{rec.idreclamation}" />
				</p:column>

				<p:column headerText="#{messages.matricule_cnss_client}"
					style="width:80px">
					<h:outputText value="#{rec.client.matricule}">
					</h:outputText>

				</p:column>

				<p:column headerText="#{messages.date_situation_reclamation}"
					sortBy="#{rec.lastDate}" sortable="true" style="width:118px">
					<h:outputText value="#{rec.lastDate}" />

				</p:column>

				<p:column headerText="#{messages.situation_reclamation}"
					style="width:63px">
					<h:outputText value="#{rec.lastDateEtatValue}" />

				</p:column>

				<p:column headerText="#{messages.contenu_reclamation}"
					style="width:200px">
					<h:outputText value="#{rec.descrip}" />
				</p:column>
			</p:dataTable>


		</h:form>


		<p:dialog header="#{messages.reponse_reclamation}"
			widgetVar="newReponseDialog" resizable="false" showEffect="fade"
			hideEffect="explode" modal="true" dir="rtl" closable="false"
			height="100%">

			<h:form id="CForm">
				<p:panelGrid id="newReponsetPanelGrid" dir="rtl">
				<div class="reponseReclamation">
					<p:row>
						<p:column>
							<h:outputText styleClass="TitleAuth" for="cReponse"
								value="#{messages.reponse_reclamation}" />
						</p:column>
						<p:column>
							<p:inputTextarea id="cReponse" rows="6" cols="33"
								value="#{reclamationBean.newReponse.contenurep}"
								disabled="false" required="true">
								<f:validateLength minimum="7" />
							</p:inputTextarea>
						</p:column>
						<p:column>
							<p:message for="cReponse" />
						</p:column>
					</p:row>
              </div>
					<p:row>
						<p:column>
							<p:outputLabel for="console"
								value="#{messages.situation_Reclamation}" />
							<p:selectOneMenu value="#{reclamationBean.che}" id="console"
								disabled="false" required="true">
								<f:selectItem itemLabel="#{messages.situation_Reclamation}" />
								<f:selectItem itemLabel="traite" itemValue="1" />
								<f:selectItem itemLabel="nonTraite" itemValue="0" />

							</p:selectOneMenu>
						</p:column>

						<p:column>
							<p:message for="console" />
						</p:column>
					</p:row>
					
					<p:row>
             			<p:column>
							<p:commandButton value="#{messages.valider}"
								actionListener="#{reclamationBean.saveReponse()}"
								update="CForm formReclamation"
								oncomplete="if(!args.validationFailed) PF('newReponseDialog').hide()" />
						</p:column>


						<p:column>
							<p:commandButton value="#{messages.annuler}" process="@this"
								update="CForm formReclamation"
								oncomplete="PF('newReponseDialog').hide()">
								<p:resetInput target=":CForm" />
							</p:commandButton>
						</p:column>
						<p:column />
					</p:row>
					
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>


</ui:composition>




</html>
